*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

.navbar{
    position:sticky;
    top:0;
    width:100%;
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:5px 2%;
    background:#fff;
    box-shadow:0 2px 10px rgba(0,0,0,0.08);
    z-index:1000;
}

.nav-links{
    margin-left: auto;
    display:flex;
    list-style:none;
    gap:35px;
}

.nav-links a{
    text-decoration:none;
    color:#333;
    font-size:17px;
    font-weight:500;
    transition:0.3s;
    display:inline-block;
}

.nav-links a:hover{
    color:#000000;
    transform:scale(1.1);
}
body    {
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-top: 40px;
    margin-left: 64px;
    margin-right: 64px;
    margin-bottom: 64px;
    border-style:none;
    background-attachment:fixed;
    background-color: rgb(255, 255, 255);
}
a:hover{
    color: #fbf4f4;
    cursor: pointer;
    zoom:10px;
}
.intro{
    text-align: left;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size:large;
    max-width: 500px;
}
.btn{
    background-color: rgb(0, 0, 0);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size:large;
    color: rgb(255, 255, 255);
    

}

.image img{
    width: 250px;
    height:250px;
    border-radius: 50%;
    object-fit: cover;
    margin-left: auto;
}